<!DOCTYPE html>
<html lang="en">

  {{> Header}}

<body>
  {{> Navbar }}
  <br>
  {{message}}

  <br>
  {{#each datas }}
  <div class="container-fluid">
    <div class="post">
      <div class="header-post">
        <img src="/userpost/download.jpg" class="user-logo">
        <div>
          <a href="/{{this.email}}">{{this.name}}</a>
          <span id="user-name" >{{this.name}}</span>
          <h3 id="user-createdAt">{{this.createdAt}}</h3>
        </div>
      </div>
      <div class="user-content">
        <p>{{this.title}}</p>
        <ul>
          <li style="width: auto;">#html</li>
          <li style="width: auto;">#ccc</li>
          <li style="width: auto;">#py</li>
          <li style="width: auto;">#java</li>
          <li style="width: auto;">#ML</li>
        </ul>
      </div>
      <div class="footer-post">
        <div class="lc-icon">
          <div class="like">
            <img src="/image/heart.svg" alt="like">
            <span>Like</span>
          </div>
          <div class="chat">
            <img src="/image/chat.svg" alt='chat' >
            <span>Comment</span>
          </div>
        </div>
        <div class="bookmark">
          <img src="/image/bookmark.svg" alt="bookmark" >
        </div>
      </div>
      {{!-- {{#if this.image }}
      <img src="/userpost/{{this.image}}">
      {{/if }} --}}
    </div>
  </div>
  <br>
  {{/each}}
</body>

</html>