<head>
    {{> Header css='profile'}}
</head>

<body>
    {{> Navbar}}
    <div class="fluid">
        <div>
            <div style="display: flex;">
                <img src="/user-profile/{{user.user-profile}}" id="user-profile">
                <div>
                    <h3>Name : {{user_name}}</h3>
                    <h3>Email : {{user_email}}</h3>
                </div>
            </div>
        </div>


    </div>
    <div>
        <br>
        <h2 style="text-align: center;">User's Post</h2>
        {{#each datas}}
        <div class="fluid">
            <h1>{{this.title}}</h1>
            <p>{{{this.content}}}</p>
        </div>
        <br>
        {{/each}}
    </div>

</body>